/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
Watch 
0 
Star 
0 
Fork 
4 

CaptainKRS/lessons 
Code 
Issues 0 
Pull requests 0 
Projects 0 
Wiki 
Security 
Insights 
Branch: master 
lessons/React Workshops/workshop-1/CSS/index.css 
Find file 
Copy path 
 CaptainKRS added the first workshop and the first set of slides 
ac89567 11 days ago 
1 contributor 
57 lines (49 sloc) 806 Bytes 
Raw
Blame
History


body {

  font-family: Arial, sans-serif;

  height: 100vh;

  width: 100vw;

}



#app {

  height: 100%;

  display: flex;

  flex-direction: column;

  justify-content: center;

}

/* RESET */

#reset {

  background-color: blueviolet;
  color: white;
  margin: 20px;

}

#reset:hover {

  /* background-color: #65878F; */
  background-color: red;

}

#toggle {
  background-color: blue;
  color: white;
  margin: 20px;
}

#toggle:hover {

 /* background-color: #65878F; */
  background-color: goldenrod;  
}


.container {

  height: 100%;

  display: flex;

  flex-direction: column;

}



.navbar {

  flex-grow: 1;

  max-height: 10%;

  min-height: 40px;

  color: gray;

  background-color: black;

  text-align: center;

}



.counter {

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  flex-grow: 2;

}



.counter h1 {

  color: gray;

  font-size: 72px;

}



.counter button {

  padding: 2em 4em;

  background-color: black;

  color: white;

  border: none;

  font-size: 15px;

  margin:10px 10px;

  transition: all 1s ease;

  outline: none;

  width: 90%;

}



.counter button:hover {

  background-color: #65878F;

}